<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button detail *ngFor="let cliente of clientes| async" (click)="ver(cliente)">
      <ion-text>
        <ion-title>
          {{cliente.nombre}}
          <ion-note>
            {{cliente.identificacion}}
          </ion-note>
        </ion-title>
      </ion-text>

      <ion-label slot="end">
        {{cliente.telefono}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>